{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Gezim Zeneli">

  <title>Pinterest</title>

  <!-- Bootstrap core CSS -->
  <link type="text/css" rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">

  <!-- Custom styles for this template -->
  <link type="text/css" rel="stylesheet" href="{% static 'css/heroic-features.css' %}">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">

      <img style="height: 35px;" src="{% static 'asset/logo/logo.png' %}" class="rounded" alt="Pinterest Logo">


      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mr-5">
            <input type="text" class="form-control form-rounded" placeholder="Search...">
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Today</a>
          </li>
          <li class="nav-item">

            <div class="dropdown ml-3">
              <img style="height: 40px;" src="https://cdn4.iconfinder.com/data/icons/jetflat-2-people/60/005_042_user_profile_avatar_man_boy_round-512.png" class="img-fluid dropdown-toggle" alt="Profile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>

          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Page Features -->
    <div class="row text-center mt-5">
      <div class="col">

        <div class="card-columns">

          <div class="card">
            <img class="card-img-top" src="https://static.dw.com/image/44469530_303.jpg" alt="Card title that wraps to a new line">
            <div class="card-body p-1">
              <h5 class="card-title mb-1">Card title that wraps to a new line</h5>

              <button type="button" class="btn btn-outline-secondary btn-sm px-3">More</button>

              <div class="d-none">
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <button type="button" class="btn btn-sm btn-primary btn-block form-rounded">Open</button>
              </div>

            </div>
          </div>






        </div>


      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Pinterest 2021</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>



